@import "./variables";

// Banner Text
.banner-main-text {
  display: block;
  font-size: 2vw;
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Montserrat";
  font-weight: 600;
}

.banner-main-text-dark {
  display: block;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "Montserrat";
  font-weight: 600;
}

.banner-sub-text-dark {
  font-size: 1.05vw;
  color: $paletteVioletLighter;
  margin: 0;
  font-family: "Roboto";
}

// Forms
.text-field {
  border: none;
  outline: none;
  font-size: 1vw;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto";
  padding: 0.2vw 0.5vw;
  background-color: white;

  border: 0.12vw solid transparent;
  border-bottom: 0.12vw solid rgba(0, 0, 0, 0.1);

  &:focus {
    border: 0.12vw solid $paletteBlue;
    background-color: rgb(252, 252, 255);

    transition-timing-function: linear;
    transition: border 400ms;
  }
}

.select-field {
  border: none;
  outline: none;
  font-size: 1vw;
  width: 100%;
  height: 2.4vw;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto";
  background-color: white;

  border: 0.12vw solid transparent;
  border-bottom: 0.12vw solid rgba(0, 0, 0, 0.1);

  &:focus-within {
    border: 0.12vw solid $paletteBlue;
    background-color: rgb(252, 252, 255);

    transition-timing-function: linear;
    transition: border 400ms;
  }
}

.submit-button {
  background-color: $palettePurpleDark;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-family: "Open Sans";
  font-size: 1vw;
  border-radius: 4vw;
  font-size: 1vw;
  font-family: Arial;
  font-weight: 500;

  &:hover {
    background-color: darken($palettePurpleDark, 5%);
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.blue-button {
  background-color: $paletteInfo;
  color: white;
  font-size: 0.9vw;
  font-family: "Arial";
  font-weight: 500;

  &:hover {
    background-color: darken($paletteInfo, 8%);
  }
}

.green-button {
  background-color: $paletteSuccess;
  color: white;
  font-size: 0.9vw;
  font-family: "Arial";
  font-weight: 500;

  &:hover {
    background-color: darken($paletteSuccess, 8%);
  }
}

.field-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field-error {
  margin: 0;
  padding: 0;
  font-size: 0.75vw;
  color: red;
  align-self: flex-end;
  justify-self: end;
}

// Grid Card

.grid-card-plot-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.14vw;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0;
  padding-top: 1vw;
  padding-left: 1.4vw;
}

.grid-card-plot-dark-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.14vw;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  padding-top: 1vw;
  padding-left: 1.4vw;
}

.grid-card-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.0vw;
  color: rgba(0, 0, 0, 0.75);
  margin: 0;
  padding: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1.4vw;
  padding-right: 1.4vw;
  line-height: 140%;
}

// Alerts
.alert-title {
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

.alert-loader {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.toast-root-container {
  width: 20vw;
}
