#body{
    /* background-image: linear-gradient(175deg, #82C3EC 50%,#0f172a 50%); */
    /* background-color: #486D8B; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.except{
    padding: 2% 5%;
    /* background-color: #f1f1f1; */
}
nav{
    background-color: #0f172a;
}
.navbar{
    padding: 1% 2%;
}
footer{
    font-size: 16px;
    text-align: center;
    opacity: 90%;
    padding-bottom: 4%;
}
section{
    margin: 4% 2%;
}
#about{ 
    margin-top: 2%;
}
.card-body{
    background-color: #0f172a;
    color: #f1f1f1;
    border-radius: 10px;
    margin-top: 5%;
}
.navbar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
.navbar-img{
    width: 60px;
    margin-right: 1%;
}
.team{
    align-items: center;
    text-align: center;
}
.main{
    width: 80%;
    border-radius: 20px;
    
}
.main-img{
    text-align: center;
    margin-bottom: 2%;
}
.main-img > h1{
    font-family: 'Rowdies', cursive;
    letter-spacing: 3px;
    font-size: 70px;
    margin: 2%;
    color: #0f172a;
}
.main-img > p{
    font-size: 32px;
    margin-bottom: 3%;
}
h2{
    margin: 2% 0%;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight :900;
}
.row{
    width: 100%;
}
.cardsare{
    margin: 4% 2%;
    text-align: center;
}
.card-img-top{
    width: 200px;
    object-fit:contain;
    align-self: center;
    border-radius: 5px;
}
.card{
    border: 0px;
    padding: 0%;
}
.navbar-brand{
    font-size: 30px;
}
.collapsible {
    background-color: #0f172a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.item {
    width:700px;
}
.item img{
    display: block;
    width: 500px;
}

.active, .collapsible:hover {
    background-color: #82C3EC;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-btn{
    background-color: #0f172a;
    color: #f1f1f1;
    margin : 2%;
}
.item-btn > a{
    color: #f1f1f1;
    text-decoration: none;
}
.item-btn:hover{
    background-color: #82C3EC;
}
.hr{
    text-align: center;
    align-content: center;
}
hr{
    display: block;
    border: #0f172a dotted 10px;
    border-top: none;
    margin: 4% 0%;
}