@import "../variables";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: $bodyColor;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

svg {
  align-self: center;
  justify-self: center;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 0.25vw;
}

::-webkit-scrollbar-track {
  background: $scrollbarTrack;
}

::-webkit-scrollbar-thumb {
  background: $scrollbarThumb;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbarThumbHover;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input[type="file"]::file-selector-button {
  background-color: $palettePurpleDark;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-family: "Open Sans";
  font-size: 1vw;
  font-family: Arial;
  font-weight: 500;
  height: 1.8vw;
  margin-right: 0.5vw;

  &:hover {
    background-color: darken($palettePurpleDark, 5%);
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.35);
  }
}
