@import "../../../styles/variables";

.table-div {
  overflow: auto;
}

.table-button-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1vw;
}

.table-button {
  width: 5vw;
  height: 2vw;
  margin-left: 1vw;
  border: none;
  border-radius: 1.5vw;
  cursor: pointer;
}

.sort-icon {
  position: relative;
  top: 0.1vw;
  left: 0.4vw;
}

table {
  font-family: "Montserrat";
  font-size: 0.8vw;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  table-layout: fixed;
}

table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

table tr:hover {
  background-color: #ddd;
}

table th {
  font-size: 0.98vw;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: left;
  background-color: $paletteVioletLight;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5vw 0vw 0.5vw 1vw;
}

thead tr {
  border: none;
  height: 1vw;
}

tr {
  border: none;
}

td {
  font-family: "Montserrat";
  font-size: 0.88vw;
  padding: 0.5vw 0vw 0.5vw 1vw;
  color: rgba(0, 0, 0, 0.95);
}
